extends layout
//test
block content
    // Hero
    #index-banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type
          span.strong #{i18n('Tagline')}
          //span I Love 
          //span.cd-words-wrapper.waiting
            b.is-visible Eating
            b delicous food
            b local restaurant
            b great Discount
      .center
        a.waves-effect.waves-light.btn-large.center.modal-trigger.amber.darken-1(href='#modalForm')
          i.mdi-content-add-circle.left 
          | #{i18n('sign-up-button')}
    // Intro and service
    #intro.section.scrollspy
      .container
        .row
          .col.s12
            h2.center.header.text_h2 
              | #{i18n('Description')}
              //| Din Dins offers great list of restaurants in 
              //span.span_h2  London  
              //| with great 
              //span.span_h2  value.
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-maps-local-restaurant
              h5.promo-caption #{i18n('search')}
              p.light.center
                | #{i18n('search-text')}
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-action-language
              h5.promo-caption #{i18n('menu')}
              p.light.center
                | #{i18n('menu-text')}
          .col.s12.m4.l4
            h6 
              br
            .center.promo.promo-example            
              //i.mdi-editor-attach-money
              i.fa.fa-gbp
              br
              h5.promo-caption #{i18n('discount')}
              p.light.center
                | #{i18n('discount-text')}
    // Work
    #work.section.scrollspy
      .container
        h2.header.text_b.center #{i18n('restaurant')}
        h3.promo-caption.center #{i18n('restaurant-text')}
        br
        br 
        //.row
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project1.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project2.jpeg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project3.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project4.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project5.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project6.jpeg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
    // Parallax
    .parallax-container
      .parallax
        img(src='images/restaurant-691397.jpg')
    // modal
    div#modalForm.modal.modal-fixed-footer
      .modal-content
        h4 Tell us about you
        form.col.l12.s12
          .row
            .input-field.col.l6
              input#first_name.validate(type='text')
              label(for='first_name') #{i18n('first-name')}
            .input-field.col.l6
              input#last_name.validate(type='text')
              label(for='last_name') #{i18n('last-name')}
          .row
            .input-field.col.l12.s12
              input#email_addr.validate(type='email')
              label(for='email_addr') #{i18n('email')}
          .row
            .input-field.col.l12.s12
              input#arrive_date.validate.datepicker(type='date')
              label(for='arrive_date') #{i18n('arrival')}
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') #{i18n('submit')} 
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') #{i18n('cancel')}        
    // Footer
    footer#contact.page-footer.default_color.scrollspy
      .container
        .row
          .col.l6.s12
            //form.col.s12
              .row
                .input-field.col.s6
                  i.mdi-action-account-circle.prefix.white-text
                  input#icon_prefix.validate.white-text(type='text')
                  label.white-text(for='icon_prefix') First Name
                .input-field.col.s6
                  i.mdi-communication-email.prefix.white-text
                  input#icon_email.validate.white-text(type='email')
                  label.white-text(for='icon_email') Email-id
                .input-field.col.s12
                  i.mdi-editor-mode-edit.prefix.white-text
                  textarea#icon_prefix2.materialize-textarea.white-text
                  label.white-text(for='icon_prefix2') Message
                .col.offset-s7.s5
                  button.btn.waves-effect.waves-light.red.darken-1(type='submit', name='action')
                    | Submit
                    i.mdi-content-send.right.white-text
          .col.l3.s12
            h5.white-text dindins.club
            ul
              li
                a.white-text(href='/') Home
              li
                a.white-text(href='/') Blog
          .col.l3.s12
            h5.white-text Social
            ul
              li
                a.white-text(href='https://www.facebook.com/dindins')
                  i.small.fa.fa-facebook-square.white-text
                  |  Facebook
      .footer-copyright.default_color_solid
        .container
          | 2015 
          a.white-text(href='/') #{i18n('Din Dins')}
    // Scripts
block scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.min.js')
    script(src='js/init.js')
