extends layout
//test
block content
    // Hero
    #index-banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type.text_h2_desc
          span #{i18n('Tagline')}
          //span I Love 
          //span.cd-words-wrapper.waiting
            b.is-visible Eating
            b delicous food
            b local restaurant
            b great Discount
      .center
        a#signup-button.waves-effect.waves-light.btn-large.center.modal-trigger.amber.darken-2(href='#modalForm',style='font-color:#6d4c41')
          i.mdi-content-add-circle.left 
          | #{i18n('sign-up-button')}
      #signup-fixed-button.fixed-action-btn.hide.button-position
        a#signup-button.waves-effect.waves-light.btn-large.center.modal-trigger.amber.darken-2(href='#modalForm',style='font-color:#6d4c41')
          i.mdi-content-add-circle.left 
          | #{i18n('sign-up-button')}
      br
      br
    // Intro and service
    #intro.section.scrollspy
      .container
        .row
          .col.s12
            h2.center.header.text_h2 
              | #{i18n('Features')}
              //| Din Dins offers great list of restaurants in 
              //span.span_h2  London  
              //| with great 
              //span.span_h2  value.
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-maps-local-restaurant
              h5.promo-caption #{i18n('search')}
              p.light.center
                | #{i18n('search-text')}
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-action-language
              h5.promo-caption #{i18n('menu')}
              p.light.center
                | #{i18n('menu-text')}
          .col.s12.m4.l4
            .center.promo.promo-example            
              //i.mdi-editor-attach-money
              i.mdi-action-assignment
              h5.promo-caption #{i18n('discount')}
              p.light.center
                | #{i18n('discount-text')}
          br
          br
    // Work
    #work.section.scrollspy
      .container
        h2.header.text_b.center #{i18n('restaurant')}
        h4.promo-caption.center #{i18n('restaurant-text')}
        br
        br 
        //.row
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project1.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='/img/project2.jpeg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project3.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project4.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project5.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/project6.jpeg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-more-vert.right
                p
                  a(href='#') Restaurant Details
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Restaurant Name 
                  i.mdi-navigation-close.right
                p
                  | Here is some more information about this project that is only revealed once clicked on.
    // Parallax
    .parallax-container
      .parallax
        img(src='/images/restaurant.jpg')
    // modal for user signup
    div#modalForm.modal.modal-fixed-footer
      form.col.l12.s12(name='userSignupForm',action='/signup', method='POST')
        .modal-content
          h4 #{i18n('modal-desc')}        
          //var locale = req.getLocale()
          if locale == 'zh'
            .row
              .input-field.col.l6
                input#last_name.validate(type='text',name='last_name_zh')
                label(for='last_name_zh') #{i18n('last-name-zh')}
              .input-field.col.l6
                input#first_name.validate(type='text',name='first_name_zh')
                label(for='first_name_zh') #{i18n('first-name-zh')}
            .row
              .input-field.col.l6
                input#last_name.validate(type='text',name='last_name')
                label(for='last_name') #{i18n('last-name')}
              .input-field.col.l6
                input#first_name.validate(type='text',name='first_name')
                label(for='first_name') #{i18n('first-name')}
            .row
              .input-field.col.l6
                input#email_addr.validate(type='email',name='email_addr')
                label(for='email') #{i18n('email')}
              .input-field.col.l6
                input#email_addr.validate(type='tel',name='mobile')
                label(for='mobile') #{i18n('mobile')}               
            .row
              .input-field.col.l12.s12
                input#arrive_date.datepicker(type='text',name='arrival_date')
                label(for='arrive_date') #{i18n('arrival')}  
          else
            .row
              .input-field.col.l6
                input#first_name.validate.required(type='text',name='first_name')
                label(for='first_name') #{i18n('first-name')}
              .input-field.col.l6
                input#last_name.validate.required(type='text',name='last_name')
                label(for='last_name') #{i18n('last-name')}
            .row
              .input-field.col.l6
                input#email_addr.validate(type='email',name='email_addr')
                label(for='email') #{i18n('email')}
              .input-field.col.l6
                input#email_addr.validate(type='tel',name='mobile')
                label(for='mobile') #{i18n('mobile')}               
            .row
              .input-field.col.l12.s12
                input#arrive_date.datepicker(type='text',name='arrival_date')
                label(for='arrive_date') #{i18n('arrival')}
        .modal-footer
          input(name='_csrf',value=_csrf,type='hidden')
          button.modal-action.modal-close.waves-effect.waves-green.btn-flat(type='submit') #{i18n('submit')} 
          a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') #{i18n('cancel')}
  block scripts
    script(type="text/javascript").   
      var locale = '#{locale}';
      if (locale == 'zh'){
        $('.datepicker').pickadate({
          container: 'body',
          monthsFull: [ '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月' ],
          monthsShort: [ '一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二' ],
          weekdaysFull: [ '星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六' ],
          weekdaysShort: [ '日', '一', '二', '三', '四', '五', '六' ],
          today: '今日',
          clear: '清除',
          close: '关闭',
          firstDay: 1,
          format: 'yyyy 年 mm 月 dd 日',
          formatSubmit: 'yyyy/mm/dd'
        });
      }