doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color', content='rgb(109, 76, 65)')
    meta(name='description',content='Great Restaurants, Great Discounts. Din Dins offers the best restaurants in London with great value')
    link(rel='icon',href='/images/logo.ico',type='image/x-icon')
    link(rel='shortcut icon',href='/images/logo.ico',type='image/x-icon')
    title=i18n(header)
    // CSS
    link(href='/styles/materialize.min.css', type='text/css', rel='stylesheet')
    link(href='/styles/style.css', type='text/css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css', rel='stylesheet')
    script(src='/js/modernizr.js')
    // Modernizr
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    .navbar-fixed
      nav#nav_f.default_transparent(role='navigation')
        .container
          .nav-wrapper.flow-text
            a#logo-container.brand-logo(href=req.url + '#top')
              img(style='width:180px',src='/images/'+i18n('logo'))
              
            ul.right.hide-on-med-and-down
              li
                a(href=req.url + '#intro') #{i18n('Service')}
              li
                a(href=req.url + '#work') #{i18n('restaurant')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href=req.url + '#contact') #{i18n('Contact')} 
            ul#nav-mobile.side-nav
              li
                a(href=req.url + '#intro') #{i18n('Service')}
              li
                a(href=req.url + '#work') #{i18n('restaurant')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href=req.url + '#contact') #{i18n('Contact')}
            a.button-collapse(href='#', data-activates='nav-mobile')
              i.mdi-navigation-menu
    block content
    // Footer
    footer#contact.page-footer.default_color.scrollspy
      .container
        .row
          .col.l6.s12
            h5.white-text #{i18n('language')}
            a.dropdown-button.btn.brown.darken-1(href='#',data-activates='languageDropdown') #{i18n(req.locale)}
            ul#languageDropdown.dropdown-content
              li
                a(href='/en/') 
                  | #{i18n('en')}
              li
                a(href='/zh/') 
                  | #{i18n('zh')}  
          .col.l6.s12
            h5.white-text #{i18n('Contact')}
            ul#social-inline
              //li
                a.tooltipped.white-text(href='https://www.facebook.com/dindins',target='_blank',data-position='bottom',data-delay='50',data-tooltip='Follow us on Facebook')
                  i.small.fa.fa-facebook-square.white-text
              li
                a.tooltipped.white-text(href='https://twitter.com/DinDinsClub',target='_blank',data-position='bottom',data-delay='50',data-tooltip='Follow us on Twitter')
                  i.small.fa.fa-twitter-square.white-text              
              //li
                a.tooltipped.white-text(href='https://www.instagram.com/dindinsclub',target='_blank',data-position='bottom',data-delay='50',data-tooltip='Follow us on Instagram')
                  i.small.fa.fa-instagram.white-text
              li
                a.tooltipped.white-text(href='mailto:info@dindins.club',data-position='bottom',data-delay='50',data-tooltip='Email us')
                  i.small.fa.fa-envelope-o.white-text
      .footer-copyright.default_color_solid
        .container
          | 2015 
          a.white-text(href=req.url + '#top') #{i18n('Din Dins')}
    block scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/init.js')
    script(type="text/javascript").
        var successMsg = '#{req.flash("success")}';
        var failedMsg = '#{req.flash("failed")}';
        $(document).ready (function () {
            $(window).scroll (function () {
                var sT = $(this).scrollTop();
                    if (sT >= 500) {
                        $('#nav_f').addClass('default_color_solid');
                        $('#nav_f').removeClass('default_transparent');
                        $('#signup-fixed-button').removeClass('hide');                        
                    }
                    else {
                        $('#nav_f').removeClass('default_color_solid');
                        $('#nav_f').addClass('default_transparent');
                        $('#signup-fixed-button').addClass('hide');                        
                    }
            });
            
            $(window).load (function (){
              if (successMsg){
                //$('#modalSuccessful').openModal();
                Materialize.toast("#{i18n('signup-successful')}", 4000);
              }
              else if (failedMsg){
                //$('#modalFailed').openModal();
                Materialize.toast("#{i18n('signup-failed')}", 4000);
              }
              
            });
        });