doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color', content='rgb(109, 76, 65)')
    meta(name='description',content=i18n("seo-description"))
    meta(name="baidu-site-verification",content="SJX9NgqJq1")
    meta(name="applicable-device",content="pc,mobile")
    meta(name="keywords", content=i18n("keywords"))
    link(rel='icon',href='/images/favicon.ico',type='image/x-icon')
    link(rel='shortcut icon',href='/images/favicon.ico',type='image/x-icon')
    title=i18n(header) + " - " + i18n("Tagline")
    // CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css', type='text/css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='/styles/style.css', type='text/css', rel='stylesheet')
    link(rel="alternate",hreflang='x-default',href='http://www.dindins.club')
    link(rel="alternate",hreflang='zh',href='http://www.dindins.club/zh')
    link(rel="alternate",hreflang='en',href='http://www.dindins.club')
    script(src='/js/modernizr.js')
    script(type="text/javascript").
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"1458de27-e0cc-4971-b888-55d4730a5028"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    // Modernizr
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    .navbar-fixed
      nav#nav_f.default_transparent(role='navigation')
        .container
          .nav-wrapper.flow-text
            a#logo-container.brand-logo(href=req.url + '#top')
              img(style='width:180px',src='/images/'+i18n('logo'))

            ul.right.hide-on-med-and-down
              li
                a(href=req.url + '#intro') #{i18n('Service')}
              if req.getLocale() == 'en'
                li
                  a(href='/forrestaurants') #{i18n('forrestaurants')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href=req.url + '#contact') #{i18n('Contact')}
              li
                a(href='http://blog.dindins.club') #{i18n('blog')}
            ul#nav-mobile.side-nav
              li
                a(href=req.url + '#intro') #{i18n('Service')}
              if req.getLocale() == 'en'
                li
                  a(href='/forrestaurants') #{i18n('forrestaurants')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href=req.url + '#contact') #{i18n('Contact')}
              li
                a(href='http://blog.dindins.club') #{i18n('blog')}
            a.button-collapse(href='#', data-activates='nav-mobile')
              i.mdi-navigation-menu
    block content
    // Footer
    footer#contact.page-footer.default_color.scrollspy
      .container
        .row
          .col.l6.m6.s6
            h5.white-text #{i18n('language')}
            a.dropdown-button.btn.brown.darken-1(href='#',data-activates='languageDropdown') 
              if (req.getLocale() == 'zh-hk') || (req.getLocale() == 'zh-tw' )
                | #{i18n('zh-hk')}
              else if (req.getLocale() == 'zh-cn') || (req.getLocale() == 'zh-sg' )
                | #{i18n('zh-cn')}
            ul#languageDropdown.dropdown-content
              li
                a.center(href='/en/',hreflang='en')
                  | #{i18n('en')}
              li
                a.center(href='/zh-cn/',hreflang='zh-cn')
                  | #{i18n('zh-cn')}
              li
                a.center(href='/zh-tw/',hreflang='zh-hk')
                  | #{i18n('zh-hk')}
          .col.l6.m6.s6
            h5.white-text #{i18n('Contact')}
            ul#social-inline
              //li
                a.tooltipped.white-text(href='https://www.facebook.com/dindins',target='_blank',data-position='bottom',data-delay='50',data-tooltip='Follow us on Facebook')
                  i.small.fa.fa-facebook-square.white-text
              li
                a.tooltipped.white-text(href='https://twitter.com/DinDinsClub',target='_blank',data-position='bottom',data-delay='50',data-tooltip=i18n('twitter'))
                  i.small.fa.fa-twitter-square.white-text
              //li
                a.tooltipped.white-text(href='https://www.instagram.com/dindinsclub',target='_blank',data-position='bottom',data-delay='50',data-tooltip='Follow us on Instagram')
                  i.small.fa.fa-instagram.white-text
              li
                a.tooltipped.white-text(href='http://www.weibo.com/dindinsclub',target='_blank',data-position='bottom',data-delay='50',data-tooltip=i18n('weibo'))
                  i.small.fa.fa-weibo.white-text
              li
                a.tooltipped.white-text(href='mailto:hello@dindins.club',data-position='bottom',data-delay='50',data-tooltip=i18n('email-contact'))
                  i.small.fa.fa-envelope-o.white-text
      .footer-copyright.default_color_solid
        .container
          | 2015
          a.white-text(href=req.url + '#top') #{i18n('Din Dins')}
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
    script(src='/js/init.js')
    block scripts
    script(type="text/javascript").
        var successMsg = '#{req.flash("success")}';
        var failedMsg = '#{req.flash("failed")}';
        $(document).ready (function () {
            $(window).scroll (function () {
                var sT = $(this).scrollTop();
                    if (sT >= 500) {
                        $('#nav_f').addClass('default_color_solid');
                        $('#nav_f').removeClass('default_transparent');
                        $('#signup-fixed-button').removeClass('hide');
                    }
                    else {
                        $('#nav_f').removeClass('default_color_solid');
                        $('#nav_f').addClass('default_transparent');
                        $('#signup-fixed-button').addClass('hide');
                    }
            });

            $(window).load (function (){
              if (successMsg){
                //$('#modalSuccessful').openModal();
                Materialize.toast("#{i18n('signup-successful')}", 4000);
              }
              else if (failedMsg){
                //$('#modalFailed').openModal();
                Materialize.toast("#{i18n('signup-failed')}", 4000);
              }

            });
        });