doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color', content='rgb(109, 76, 65)')
    title=i18n(header)
    // CSS
    link(href='/styles/materialize.min.css', type='text/css', rel='stylesheet')
    link(href='/styles/style.css', type='text/css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css', rel='stylesheet')
    script(src='/js/modernizr.js')
    // Modernizr
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    .navbar-fixed
      nav#nav_f.default_color(role='navigation')
        .container
          .nav-wrapper
            a#logo-container.brand-logo(href='/#top')
              img(style='width:140px',src='/images/'+i18n('logo'))
            ul.right.hide-on-med-and-down
              li
                a(href='/#intro') #{i18n('Service')}
              li
                a(href='/#work') #{i18n('Restaurant')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href='/#contact') #{i18n('Contact')} 
            ul#nav-mobile.side-nav
              li
                a(href='/#intro') #{i18n('Service')}
              li
                a(href='/#work') #{i18n('Restaurant')}
              //li
                a(href='/about') #{i18n('About')}
              li
                a(href='/#contact') #{i18n('Contact')}
            a.button-collapse(href='#', data-activates='nav-mobile')
              i.mdi-navigation-menu
    block content
    // Footer
    footer#contact.page-footer.default_color.scrollspy
      .container
        .row
          .col.l6.s12
            //form.col.s12
              .row
                .input-field.col.s6
                  i.mdi-action-account-circle.prefix.white-text
                  input#icon_prefix.validate.white-text(type='text')
                  label.white-text(for='icon_prefix') First Name
                .input-field.col.s6
                  i.mdi-communication-email.prefix.white-text
                  input#icon_email.validate.white-text(type='email')
                  label.white-text(for='icon_email') Email-id
                .input-field.col.s12
                  i.mdi-editor-mode-edit.prefix.white-text
                  textarea#icon_prefix2.materialize-textarea.white-text
                  label.white-text(for='icon_prefix2') Message
                .col.offset-s7.s5
                  button.btn.waves-effect.waves-light.red.darken-1(type='submit', name='action')
                    | Submit
                    i.mdi-content-send.right.white-text
          .col.l3.s12
            h5.white-text dindins.club
            ul
              li
                a.white-text(href='/') Home
              li
                a.white-text(href='/') Blog
          .col.l3.s12
            h5.white-text Social
            ul
              li
                a.white-text(href='https://www.facebook.com/dindins')
                  i.small.fa.fa-facebook-square.white-text
                  |  Facebook
      .footer-copyright.default_color_solid
        .container
          | 2015 
          a.white-text(href='/') #{i18n('Din Dins')}
    block scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.min.js')
    script(src='js/init.js')
    script(type="text/javascript").
        $(document).ready (function () {
            $(window).scroll (function () {
                var sT = $(this).scrollTop();
                    if (sT >= 500) {
                        $('#nav_f').addClass('default_color_solid');
                        $('#nav_f').removeClass('default_color');
                    }else {
                        $('#nav_f').removeClass('default_color_solid');
                        $('#nav_f').addClass('default_color');
                    }
            })
        })